/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url('./assets/Maskgroup.png'); /* Replace with the path to your background image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-attachment: fixed;
}
.app-container {
  text-align: center;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result {
  margin-top: 20px;
}

.error {
  color: red;
}

/* Responsive layout */
@media (min-width: 768px) {
  /* Tablet styles */
}

@media (min-width: 1024px) {
  /* Desktop styles */
}


.result {
  margin-top: 20px;
}

.error {
  color: red;
}
.spin-button {
  margin-top: 20px; /* Add space between the wheel and the button */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

.wheel-result-container {
  position: relative; /* Make the container relative */
}
.result-message {
  position: absolute;
  top: 120%; /* Position the result message below the wheel */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Responsive layout */
@media (min-width: 768px) {
  /* Tablet styles */
}

@media (min-width: 1024px) {
  /* Desktop styles */
}
