.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url('./assets/Maskgroup.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.app-container {
  text-align: center;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result {
  margin-top: 20px;
}

.error {
  color: red;
}


@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}


.result {
  margin-top: 20px;
}

.error {
  color: red;
}
.spin-button {
  margin-top: 20px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

.wheel-result-container {
  position: relative; 
}
.result-message {
  position: absolute;
  top: 120%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


